#home:hover,
#scroll:hover {
  color: rgb(0, 209, 179);
}

#user-selection {
  text-align: center;
  margin-bottom: 25px;
}

#category-choice,
#user-categories,
#user-chosen {
  text-align: center;
  margin: 10px 0 10px 0;
}

#result-content a{
  background-color: rgb(0, 209, 179);
  padding: 10px;
  color: white;
  border-radius: 4px;
}

#result-content a:hover{
  background-color: rgb(0, 209, 179);
  padding: 10px;
  color: black;
}

#result-content p{
  margin: 20px;
}